@{
    ViewBag.Title = "Order processed";
}
    <section><div style="height:200px;"></div></section>
    <h2>Thank!</h2>
    <p>Thank you for choosing our store. The order will be sent to the delivery service as soon as possible.</p>
<section><div style="height:100px;"></div></section>
